*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1280px; /*larguram máxima da página*/
    width: 100%; /*largura máxima de ocupação*/
}

header{
    display: flex; /*itens do cabeçalho um do lado do outro*/
    align-items: center; /*nivelando os itens*/
    padding: 8px;
    background-color: rgba(65, 42, 165, 0.445);
    font-family: 'Concert One', sans-serif;
    font-weight: normal; /*tirando o negrito que foi colocado automaticamente na fonte pelo navegador*/
}

header img{ /*img da header*/
    height: 40px;
}

header h1{
    margin-left: 8px;
}

.cabecalho-tabela{
    max-width: 960px; /*largura máxima da div, não da página*/
    width: 100%; /*largura máxima de ocupação da div*/
    margin: 40px auto 0px auto;
}

h2, h3{
    padding: 8px 0px 16px 0px;
    font-family: 'Concert One', sans-serif;
    font-weight: normal;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

form {
    display: flex; /*colocando os iten do formulário um do lado do outro*/
    align-items: center; /*nivelantdo os itens do formulário*/
    justify-content: space-between;
}

p, label{ /*tag parágrafo e tag label*/
    font-family: 'Concert One', sans-serif;;
}

input, button, select{
    width: 120px; /*largura máxima dos itens*/
    height: 35px; /*altura*/
    border: 1px solid black;
    padding: 8px;
    margin: 0px 10px 0px 3px;
}

input, select:focus{ /*efeito no botão e no select (o retângulo que possui as opções)*/
    outline-color: blueviolet;
}

button{
    cursor: pointer;
    background-color: rgba(65, 42, 165, 0.445);
    border: 1px solid blueviolet;
    width: 190px;
    margin-right: 0; /*retirando a margem da direita, para que assim ele fique grudado no canto direito da div, isso foi necessário 
    pois lá em cima eu coloquei margem nos iten do formulário*/
}

button:hover{ /*efeito do botão*/
    background-color: blueviolet;
}

table{
    width: 100%; /*largura máxima da ocupação da tabela, largura máxima de 960px, está na classe cabecalho-tabela */
}

table th, /*cabeçalho da tabela*/
tfoot td{ /*rodapé da tabela*/
    padding: 16px;
    font-family: 'Concert One', sans-serif;
    font-weight: normal;
    font-size: 24px;
    border-bottom: 2px solid black;
    text-align: center; /*nivelantdo os itens*/
}

tfoot td{ /*rodapé da tabela*/
    font-size: 20px;
    padding: 8px;
}

tbody td{ /*corpo da tabela*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.384);
    padding: 8px;
}

tfoot td{
    border-bottom: 2px solid black;
}

.pessoal, .comercial{/*clase criada aqui, para ser usada do javascript, esse é a estilização da letras que aparecem na 3º coluna*/
    padding: 4px;
    background-color: rgba(224, 222, 55, 0.801);
    border: 2px solid rgba(255, 251, 0, 0.733);
    border-radius: 5px; /*arredondado as quinas da borda*/
    font-weight: bold; /*adicionando negrito nas letras*/
    font-family: 'Concert One', sans-serif;
}

.comercial{ /*clase criada aqui, para ser usada do javascript, esse é a estilização da letras que aparecem na 3º coluna*/
    background-color: rgba(143, 38, 38, 0.384);
    border: 2px solid rgba(143, 38, 38, 0.726);
}





