*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: rgba(65, 42, 165, 0.445);
    font-family: 'Concert One', sans-serif;
    font-weight: normal;
}

header img{
    height: 40px;
}

header h1{
    margin-left: 8px;
}

.cabecalho-tabela{
    max-width: 960px;
    width: 100%;
    margin: 40px auto 0px auto;
}

h2, h3{
    padding: 8px 0px 16px 0px;
    font-family: 'Concert One', sans-serif;
    font-weight: normal;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p, label{
    font-family: 'Concert One', sans-serif;;
}

input, button, select{
    width: 120px;
    height: 35px;
    border: 1px solid black;
    padding: 8px;
    margin: 0px 10px 0px 3px;
}

input, select:focus{
    outline-color: blueviolet;
}

button{
    cursor: pointer;
    background-color: rgba(65, 42, 165, 0.445);
    border: 1px solid blueviolet;
    width: 190px;
    margin-right: 0;
}

button:hover{
    background-color: blueviolet;
}

table{
    width: 100%;
}

table th,
tfoot td{
    padding: 16px;
    font-family: 'Concert One', sans-serif;
    font-weight: normal;
    font-size: 24px;
    border-bottom: 2px solid black;
    text-align: center;
}

tfoot td{
    font-size: 20px;
    padding: 8px;
}

tbody td{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.384);
    padding: 8px;
}

tfoot td{
    border-bottom: 2px solid black;
}

.pessoal, .comercial{
    padding: 4px;
    background-color: rgba(224, 222, 55, 0.801);
    border: 2px solid rgba(255, 251, 0, 0.733);
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Concert One', sans-serif;
}

.comercial{
    background-color: rgba(143, 38, 38, 0.384);
    border: 2px solid rgba(143, 38, 38, 0.726);
}





